.container {
  background-repeat: no-repeat;
  background-size: contain;
  min-height: -webkit-fill-available;
  padding: 5% 0% 5% 0%;
}
.todo-container {
  margin: 0 auto;
  max-width: 615px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}
.header-title {
  color: white;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 20px;
}
.header-icon {
  cursor: pointer;
}
.create-task-container {
  padding: 20px 20px;
  border-radius: 5px;
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.total-task-container {
  display: grid;
  border-radius: 5px;
  margin-top: 5%;
}
.create-task {
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
  height: 20px;
  width: 20px;
  border: 1px solid white;
  opacity: 0.4;
}
.create-task-unactive {
  background: transparent;
  border-radius: 50px;
  padding: 10px;
  margin-right: 20px;
  border: 2px solid hsl(234, 11%, 52%);
}
.create-task-input {
  background: transparent;
  font-family: "JosefinSans";
  font-size: 20px;
  outline: 0;
  border: 0;
}
.task-container {
  cursor: grab;
  display: flex;
  padding: 15px 20px;
  font-size: 18px;
  align-items: center;
}
.completedTask {
  text-decoration: line-through;
  opacity: 0.4;
}
.createdTask {
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
  height: 21.6px;
  width: 21.6px;
  background: url("../assets/icon-check.svg"),
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
}
.active-border {
  border-top: 2px solid rgba(256, 256, 256, 0.1);
}
.complete-border {
  border-bottom: 2px solid rgba(256, 256, 256, 0.1);
}
.footer-container {
  padding: 20px 20px;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}
.filter-container {
  display: flex;
  gap: 80px;
}
.filter {
  display: flex;
  font-weight: 400;
  gap: 25px;
}
.filter-item {
  cursor: pointer;
}
.clear {
  cursor: pointer;
}
.item-left,
.filter-item,
.clear {
  opacity: 0.4;
}

.checked {
  color: hsl(220, 98%, 61%);
  opacity: 1;
}

.dark-task {
  background-color: hsl(235, 24%, 19%);
  color: white;
}

.light-task {
  background-color: hsl(0, 0%, 98%);
  color: black;
}
.cross {
  margin-left: auto;
}

.dark-mode {
  background-color: hsl(235, 21%, 11%);
  .create-task-container {
    background-color: hsl(235, 24%, 19%);
  }
  .total-task-container {
    background-color: hsl(235, 24%, 19%);
  }
  .create-task {
    border-color: white;
  }
  .create-task-input {
    color: white;
  }
  .task-container {
    background-color: hsl(235, 24%, 19%);
    color: white;
  }
  .footer-container {
    color: white;
  }
  .complete-border {
    border-color: rgba(256, 256, 256, 0.1);
  }
}
.light-mode {
  background-image: url("../assets/bg-desktop-light.jpg");
  background-color: hsl(236, 33%, 92%);

  .create-task-container {
    background-color: hsl(0, 0%, 98%);
  }
  .create-task {
    border-color: hsl(236, 9%, 61%);
  }
  .create-task-input {
    color: black;
  }
  .total-task-container {
    background-color: hsl(0, 0%, 98%);
  }
  .task-container {
    background-color: hsl(0, 0%, 98%);
    color: black;
  }
  .complete-border {
    border-color: rgba(0, 0, 0, 0.1);
  }
  .footer-container {
    color: black;
  }
  .items-left {
    font-weight: 400;
    opacity: 0.4;
  }
  .clear {
    font-weight: 400;
    opacity: 0.4;
  }
}
@media (min-width: 679px) {
  .dark-mode {
    background-image: url("../assets/bg-desktop-dark.jpg");
  }
  .filter-item:hover,
  .clear:hover {
    opacity: 1;
  }
  .cross {
    opacity: 0;
    cursor: pointer;
  }
  .task-container:hover .cross {
    opacity: 1;
  }

  .create-task:hover {
    border: none;
    height: 21.6px;
    width: 21.6px;
    background: url("../assets/icon-check.svg"),
      linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media (max-width: 678px) {
  .dark-mode {
    background-image: url("../assets/bg-mobile-dark.jpg");
    .filter {
      background-color: hsl(235, 24%, 19%);
      color: white;
    }
  }
  .light-mode {
    background-image: url("../assets/bg-mobile-light.jpg");
    .filter {
      background-color: hsl(0, 0%, 98%);
      color: black;
    }
  }
  .filter {
    padding: 20px;
    font-size: 80%;
    justify-content: center;
    margin-top: 5%;
    border-radius: 5px;
  }
  .container {
    padding: 10% 5%;
  }
  .header-title {
    font-size: 200%;
    letter-spacing: 10px;
  }
  .create-task-container {
    padding: 15px 20px;
    margin-top: 10%;
  }
  .create-task-input {
    font-size: 100%;
  }
  .task-container {
    font-size: 73%;
  }
}
